[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"

[packages]
pandas = "*"
scikit-learn = "0.23.2"
matplotlib = "*"
mysql-connector-python = "*"
ray = "*"
arff = "*"

[requires]
python_version = "3.8"
